/* padding: top right bottom left */

.music {
    display: inline-flex;
    width: 80%;
    padding: 0.5em 3em 1em 3em;
}

.music_img {
    margin: auto 0 auto 3em;
    width: 7.5%;
}

.music_name {
    width: 30%;
    font-size: var(--small-font);
    margin: auto;
    text-align: center;
    padding: 0 0.5em 0 0.5em;
    text-decoration: underline;
}

.music_album {
    width: 30%;
    font-size: var(--small-font);
    margin: auto;
    text-align: center;
    padding: 0 0.5em 0 0.5em;
}

.music_year {
    font-size: var(--small-font);
    /* margin: auto; */
    margin: auto 3em auto 0;
    padding: 0 0.5em 0 0.5em;
    width: 10%;
}