body{
    font: normal, Arial, sans-serif;
    text-align: center;
    color: var(--font-color);
}

main {
    margin: auto;
    padding: 16em 0 0 0;
    transition: 1s; /* Adds a transition effect when the padding is decreased */
}

#aboutme img {
    width:20%;
}

#name {
    padding: 1em 0 1em 0;
    font-size: var(--large-font);
}

#contacts {
    margin-right: var(--document-padding);
    font-size: var(--small-font);
    display:inline;
    align-items:center;
}

#contacts ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contacts li {
    margin: 0 0 0 1em;
}


#statement {
    margin: 0 20vw 2em 20vw;
    font-size: var(--small-font);
    text-align: justify;
}


#random {
    margin: 0 20vw 2em 20vw;
    font-size: var(--small-font);
    text-align: center;
    width:60%;
}

.grey {
    background-color: var(--div-grey);
    height: auto;
    padding: 0 0 2em 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0 1em 0;
}

.container_image {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 1em auto 2em auto;
    width: 70%;
}

.subtitle {
    font-size: var(--medium-font);
    padding: 1em 0 0.5em 0;
}

.subtitle2 {
    text-decoration: underline;
    font-style: italic;
    font-size: var(--small-font);
    padding: 0.5em 0 0.5em 0;
}

.bubble {
    width: 25%;
    font-size: var(--small-font);
}

.bubble p {
    padding: 0 0 0.5em 0;
}

.bubble img {
    max-width: 50%;
    
}

.description {
    width: 75%;
    font-size: var(--small-font);
    margin: 0 auto 0 auto;
    text-align: justify;
}

.white {
    background-color: var(--div-white);
    height: auto;
    padding: 0 0 2em 0;
}

.wide_image img {
    width: 100%;
    max-width: 100%;
}

.image_credit {
    width:auto;
    align-items: right;
    float: right;
}