@import "navbar.css";
@import "reset.css";
@import "body.css";
@import "academic.css";
@import "about.css";


/* padding: top right bottom left */
:root {
    --font-family: Arial, Helvetica, sans-serif;
    --large-font: calc(32px + 0.25vw);
    --medium-font: calc(24px + 0.25vw);
    --small-font: calc(20px + 0.25vw);
    --font-color: #4d4d4d;


    --persian-indigo: #541675;
    --navbar-background-colour: #FFFFFF;
    --navbar-hover-colour: #303030;
    --navbar-font-colour: #000000;
    --navbar-height: 5vh;
    --navbar-button-size: calc(var(--navbar-height)/2.5);

    --footer-height: 3vh;

    --document-padding: 2em;

    /* Main page content */
    --div-grey: #eeeeee;
    --div-white: #ffffff;
}

footer {
    margin: 0.5em 0 0.5em 0;
    height: var(--footer-height);
    font-size: var(--small-font);
}