
/* padding: top right bottom left */

#header {
    overflow: hidden;
    /* background-color: #f1f1f1; */
    padding: 0 0 0 0; /* Large padding which will shrink on scroll (using JS) */
    margin: 0 0 0 0;
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100vw;
    top: 0; /* At the top */
    z-index: 99;
    background-image: url("../images/banner.png");
    min-height: 5vh;
    height: 20vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 1rem 3px -1rem var(--persian-indigo);
  }

#header a {
    text-decoration: none;
    color: var(--font-color);
    font: var(--large-font) 16px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#header a:hover {
  /* color: var(--navbar-hover-colour); */
  color: var(--persian-indigo);
  text-decoration: underline;
}

#navbar {
    transition: 0.4s;
    overflow: hidden;
    margin: auto;
    background-color: var(--navbar-background-colour);
    min-height: var(--navbar-height);
    height: var(--navbar-height);
    font-size: var(--navbar-button-size);
    width: 100vw;
    z-index: 99;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    /* padding: 0 var(--document-padding) 0 var(--document-padding); */
    text-decoration: none;
    color: black;
}

#navbar_left {
  width: auto;
  height: 100vw;
  margin-left: var(--document-padding);
  /* margin-right: auto; */
  float: left;
  display: flex;
  align-items:center;
}


#navbar_right {
    width: fit-content;
    /* height: 100vw; */
    margin-left: auto;
    margin-right: var(--document-padding);
    float: right;
    display: flex;
    align-items:center;
} 

#navbar li {
    border-radius: 4px;
    display: inline-block;
}

#navbar li:not(:last-child) {
  border-radius: 4px;
  display: inline-block;
  margin: 0 3vw 0 0;
}

#hamburger_menu {
  display: none;
}

#ham_toggled {
  display: none;
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 1000px) {
    #navbar a {
      float: none;
      display: block;
      text-align: left;
    }

    #navbar_left {
      width: 75vw;
    }

    #hamburger_menu {
      display: inline;
      margin-right: 10vw;
      /* max-height: 8vw;  */
    }

    #hamburger_button {
      border: none;
      background-color: white;
    }

    #hamburger_menu img{
      max-height: calc(2.5vw + 2.5vh); 
    }

    #navbar_right {
      /* float: none; */
      overflow-y: hidden;
      overflow: hidden;
      transition: all 0.5s ease-in;
      margin: auto auto auto auto;
      display: none;
      background-color: var(--navbar-background-colour);
      align-items: left;
    }

    #navbar_hidden{
      display: inline;
    }

    #navbar_right ul {
      width: 110px;
      margin: auto auto auto auto;
      padding-right: 5vw;
      text-align: left;
    }

    #navbar li {
      margin: 0.3vw 3vw 0 0;
    }

    #navbar li {
      border-radius: 4px;
      display: inline-block;
      min-width: 110px;
      margin: 0 0 0 0;
  }
  
  #navbar li:not(:last-child) {
    border-radius: 4px;
    display: inline-block;
    min-width: 110px;
  }

  #ham_toggled {
    display: none;
  }
}



