.cheng {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 1rem auto 0rem auto;
    width: 30vw;
}

.cheng img {
    width:15vw;
}

.cheng_credit {
    width: auto;
}

.thanks {
    width: fit-content;
    margin: 1rem auto 1rem auto;
    font-size: var(--script-font);
}

.thanks {
    text-align: left;
}

.flower {
    width: 1.5rem;
}

.collaborator {
    width: 30vw;
    font-size: var(--small-font);
}

.collaborator p {
    padding: 0 0 0.5rem 0;
}

.collaborator img {
    max-width: 15vw;
    
}