.even {
    background-color: var(--div-grey);
    /* background-color: var(--div-white); */
    height: auto;
    padding: 0 0 2rem 0;
}

.odd {
    /* background-color: var(--div-grey); */
    background-color: var(--div-white);
    height: auto;
    padding: 0 0 2rem 0;
}

.paper_title {
    font-size: var(--medium-font);
    /* text-decoration: underline; */
    font-style: italic;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.paper_descriptions {
    font-size: var(--small-font);
    padding: 0 0.5rem 0.5rem 0.5rem;
}


.project_subimage {
    width: 25vw;
    max-width: 25vw;
    font-size: var(--small-font);
}

.project_subimage img {
    width: 20vw;
}

.project_subimage2 {
    width:50vw;
    max-width: 50vw;
    /* margin: 0 1em 0 1em; */
    font-size: var(--small-font);
}

.project_subimage2 img {
    width: 45vw;
    margin: 0.5rem auto 0 auto;
}

.download_pdf {
    font-size: var(--script-font);
    padding: 0 0 0.5rem 0;
}

.publisher_info {
    font-size: var(--script-font);
    padding: 0 0 0.5rem 0;
}

.small_caps {
    font-variant-caps: small-caps;
    font-weight: bold;
  }  
  