.resource {
    display: inline-flex;
    width: 75vw;
    padding: 0.5rem 0rem 1rem 0rem;
}

.resource_img {
    margin: auto 0 auto 3rem;
    width: 15vw;
}

.resource_name {
    width: 50vw;
    font-size: var(--small-font);
    margin: auto;
    padding: 0 1vw 0 1vw;
    text-align: center;
}

.resource_link {
    font-size: var(--small-font);
    /* margin: auto; */
    margin: auto 3rem auto 0;
    width: 10vw;
}

.underlinetitle{
    font-size: var(--medium-font);
    padding: 1rem 0 0.5rem 0;
    text-decoration: underline;
}

.collapsible {
    /* font-size: var(--medium-font); */
    background-color: inherit;
    font-size: var(--medium-font);
    padding: 1rem 0 1rem 0;
    text-decoration: underline;
    /* color: #444; */
    cursor: pointer;
    /* padding: 18px; */
    width: 75vw;
    border: none;
    text-align: center;
    outline: none;
  }

.topic {
    max-height: 0;
    /* display: inline-flex; */
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible:after {
    content: '[Show]\02795'; /* Unicode character for "plus" sign (+) */
}
  
.active:after {
    content: "[Hide]\2796"; /* Unicode character for "minus" sign (-) */
}

@media (max-width: 1000px){
    .resource {
        display: inline-flex;
        width: 100vw;
        padding: 0.5rem 0rem 1rem 0rem;
    }

}