.resource {
    display: inline-flex;
    width: 75vw;
    padding: 0.5rem 0rem 1rem 0rem;
}

.resource_img {
    margin: auto 0 auto 3rem;
    width: 15vw;
}

.resource_name {
    width: 50vw;
    font-size: var(--small-font);
    margin: auto;
    padding: 0 1vw 0 1vw;
    text-align: center;
}

.resource_link {
    font-size: var(--small-font);
    /* margin: auto; */
    margin: auto 3rem auto 0;
    width: 10vw;
}

.underlinetitle{
    font-size: var(--medium-font);
    padding: 1rem 0 0.5rem 0;
    text-decoration: underline;
}


@media (max-width: 1000px){
    .resource {
        display: inline-flex;
        width: 100vw;
        padding: 0.5rem 0rem 1rem 0rem;
    }

}