/** KAOSDraw
    Created by: Michael Austin Langford
**/

@media only screen and (min-device-width: 1440px){
    html {
        font-size: 16px;
        -webkit-text-size-adjust: none;
    }
}
@media only screen and (max-device-width: 1439px) and (orientation: portrait){
    html {
        font-size: 11px;
        -webkit-text-size-adjust: none;
    }
}
@media only screen and (max-device-width: 1439px) and (orientation: landscape){
    html {
        font-size: 8px;
        -webkit-text-size-adjust: none;
    }
}
.theme-light {
    background: #f4f4f4;
    color: #333333;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1rem;
}
@media only screen and (min-device-width: 90rem){
    .theme-light .caption {
        font-size: 0.85rem;
    }
}
@media only screen and (max-device-width: 89rem) and (orientation: portrait){
    .theme-light .caption {
        font-size: 1.269rem;
    }
}
@media only screen and (max-device-width: 89rem) and (orientation: landscape){
    .theme-light .caption {
        font-size: 1.889rem;
    }
}
.theme-light .hidden{
    display: none;
}
.theme-light .selectable{
    cursor: pointer;
}
.theme-light a.link{
    color: #0000ff;
    cursor: pointer;
    font-size: 0.85rem;
    margin-bottom: 0rem;
    font-weight: normal;
    padding: 0.15rem 0.15rem 0.15rem 0.15rem;
    text-decoration: underline;
    text-shadow:0.0625rem 0.0625rem 0.0625rem #f4f4f4, 0.0625rem 0.0625rem 0.3130rem #f4f4f4;
    -webkit-touch-callout: none;
       -moz-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}
.theme-light a.link:hover{
    color: #ffaa00;
}
.theme-light div.left-container{
    left: 0rem;
    position: absolute;
    text-align: center;
    top: 0.5rem;
    width: 13rem;
}
@media only screen and (orientation: landscape) {
    .theme-light div.message-container,
    .theme-light div.validation-container,
    .theme-light div.workspace-container{
        bottom: 3.5rem;
        height: calc(100% - 1rem);
        left: 13rem;
        position: absolute;
        top: 0.5rem;
        width: calc(100% - 13rem - 1rem);
    }
}
@media only screen and (orientation: portrait) {
    .theme-light div.message-container,
    .theme-light div.validation-container,
    .theme-light div.workspace-container{
        bottom: 3.5rem;
        height: calc(100% - 1rem);
        position: absolute;
        top: 0.5rem;
        width: calc(100% - 1rem);
    }
}
.theme-light div.message-container{
    background: linear-gradient(to top, rgb(0,0,0,0.4), rgb(0,0,0,0.0));
    height: 3rem;
    margin: 0rem 0.5rem;
    top: calc(100% - 3.5rem + 0.125rem);
}
.theme-light div.validation-container{
    background: rgb(0,0,0,0.8);
    margin: 0rem 0.5rem;
}
.theme-light div.toggle-container{
    background: #f4f4f4cc;
    left: calc(100% - 11rem);
    padding: 0.15rem 0.4rem 0.15rem 0.4rem;
    position: absolute;
    text-align: center;
    top: calc(100% - 2rem);
}
.theme-light div.right-container{
    left: calc(100% - 23.5rem);
    position: absolute;
    text-align: center;
    top: 1rem;
    width: 21rem;
}
.theme-light div.message{
    color: #000000;
    padding: 1rem 0.5rem;
    max-width: 100%;
    text-align: center;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem #f4f4f4;
    word-wrap: break-word;
}
.theme-light div.validation{
    color: #cccccc;
    height: 100%;
    padding: 0.5rem 0.5rem;
    max-width: 100%;
    text-align: left;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem #666666;
    width: 100%;
    word-wrap: break-word;
}
.theme-light fieldset{
    background: #f4f4f4cc;
    border: 0.0625rem solid #888888;
    margin: 0rem 0rem 0.33rem 0rem;
    padding: 0.67rem;
    text-align: left;
}
.theme-light fieldset:hover{
    border: 0.0625rem solid #444444;
}
.theme-light fieldset legend{
    background: #f4f4f4cc;
    border-left: 0.0625rem solid #888888;
    border-right: 0.0625rem solid #888888;
    border-top: 0.0625rem solid #888888;
    font-size: 0.85rem;
    font-weight: normal;
    padding: 0rem 0.5rem 0.1875rem 0.5rem;
}
@media only screen and (orientation: landscape) {
    .theme-light svg{
        background: #f4f4f4;
        border: 0.0625rem solid #888888;
        cursor: grab;
        font-size: 0.85rem;
        height: 100%;
        margin: 0rem 0.5rem;
        width: 100%;
        -webkit-touch-callout: none;
           -moz-touch-callout: none;
        -webkit-user-select: none;
           -moz-user-select: none;
                user-select: none;
    }
}
@media only screen and (orientation: portrait) {
    .theme-light svg{
        background: #f4f4f4;
        border: 0.0625rem solid #888888;
        cursor: grab;
        font-size: 0.85rem;
        height: 100%;
        margin: 0rem 0rem;
        width: 100%;
        -webkit-touch-callout: none;
           -moz-touch-callout: none;
        -webkit-user-select: none;
           -moz-user-select: none;
                user-select: none;
    }
}
.theme-light svg:hover{
    border: 0.0625rem solid #444444;
}
.theme-light input[type=number],
.theme-light input[type=text],
.theme-light select,
.theme-light textarea{
    background: #f4f4f4;
    border: 0.0625rem solid #dadada;
    color: #333333;
    font-family: "Courier New", Courier, monospace;
    font-size: 0.85rem;
    outline: none;
    padding: 0.3125rem 0.5rem 0.3125rem 0.5rem;
    resize: none;
    -webkit-border-radius: 0.1875rem;
       -moz-border-radius: 0.1875rem;
            border-radius: 0.1875rem;
    -webkit-box-shadow: inset 0.0625rem 0.0625rem 0.25rem #ebebeb;
       -moz-box-shadow: inset 0.0625rem 0.0625rem 0.25rem #ebebeb;
            box-shadow: inset 0.0625rem 0.0625rem 0.25rem #ebebeb;
}
.theme-light input[type=number]:hover,
.theme-light input[type=text]:hover,
.theme-light select:hover,
.theme-light textarea:hover{
    border: 0.0625rem solid #00aaff;
}
.theme-light input[type=button]{
    background: #ededed;
    border: 0.0625rem solid #cccccc;
    color: #333333;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
    margin: 0.0625rem;
    padding: 1rem 1rem;
    width: 11rem;
    -webkit-border-radius: 0.1875rem;
       -moz-border-radius: 0.1875rem;
            border-radius: 0.1875rem;
    -webkit-box-shadow: inset -0.0625rem -0.0625rem 0.1875rem #888888;
       -moz-box-shadow: inset -0.0625rem -0.0625rem 0.1875rem #888888;
            box-shadow: inset -0.0625rem -0.0625rem 0.1875rem #888888;
}
.theme-light input[type=button]:hover{
    background: #dcdcdc;
    text-decoration: underline;
}
.theme-light input[type=button]:active{
    background: #cbcbcb;
    outline: none;
    -webkit-box-shadow: inset 0rem 0rem 0.3125rem #444444;
       -moz-box-shadow: inset 0rem 0rem 0.3125rem #444444;
            box-shadow: inset 0rem 0rem 0.3125rem #444444;
}
.theme-light input[type=button].activated{
    background: #bababa;
    outline: none;
    -webkit-box-shadow: inset 0rem 0rem 0.3125rem #333333;
       -moz-box-shadow: inset 0rem 0rem 0.3125rem #333333;
            box-shadow: inset 0rem 0rem 0.3125rem #333333;
}
.theme-light input[type=button].field{
    width: 6.5rem;
}
.theme-light input[type=button].zoom{
    font-size: 1rem;
    height: 2.2rem;
    padding: 0.2rem 0.5rem 0.3rem 0.5rem;
    width: 3rem;
}
.theme-light input[type=button].zoom:hover{
    text-decoration: none;
}
.theme-light input[type=button]::-moz-focus-inner{
    border: 0;
}
.theme-light label{
    margin-bottom: 0.15rem;
    font-size: 0.85rem;
    font-weight: bold;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem #f4f4f4;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}
.theme-light label.link{
    color: #0000ff;
    cursor: pointer;
    font-size: 0.75rem;
    margin-bottom: 0rem;
    font-weight: normal;
    text-decoration: underline;
    text-shadow:0.0625rem 0.0625rem 0.0625rem #f4f4f4, 0.0625rem 0.0625rem 0.3130rem #f4f4f4;
    -webkit-touch-callout: none;
       -moz-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}
.theme-light label.link:hover{
    color: #ff0000;
}
.theme-light label.left{
    float: left;
    padding: 0.25rem 0rem 0.35rem 0rem;
}
.theme-light label.right{
    float: right;
    padding: 0.25rem 0rem 0.35rem 0rem;
}
.theme-light label.text{
    font-weight: normal;
    font-style: italic;
    font-size: 0.85rem;
    max-width: 20rem;
    padding-left: 1rem;
    word-wrap: break-word;
}
.theme-light label.definition{
    width: 20rem;
}
.theme-light input[type=number]{
    height: 1.2rem;
    width: 3rem;
}
.theme-light input[type=text]{
    height: 1.2rem;
    width: 20rem;
}
.theme-light input[type=text].short{
    height: 1.2rem;
    width: 13.67rem;
}
.theme-light select{
    height: 1.7rem;
    width: 21rem;
}
.theme-dark span{
    font-size: 0.85rem;
}
.theme-light span.left{
    float: left;
}
.theme-light span.right{
    float: right;
}
.theme-light textarea{
    height: 6rem;
    width: 20rem;
}
.theme-light ul{
    margin: 0rem 0rem;
}
.theme-light li{
    margin-left: 2rem;
    padding: 0.2rem 0rem;
}
.theme-light li.violation{
    color: #ff0000;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem #000000;
}
